h1,
p,
span,
a{
  text-align: center;
}


.bg{
  background: pink;
   font-family: 'Times New Roman';
  color: black;
}
.navigation-links{
  display: flex;
  justify-content: center;
  padding: 5px;
}

a{
  padding:5px;
  color: black;
}

a:hover{
  color:green;
}

img{
  margin: 0 auto;
  text-align: center;
}
  
